{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-full p-6 max-lg:h-fit ">

        {% include 'partials/header.html.twig' %}

        <div class="h-5/6 flex flex-col justify-center max-lg:h-full ">
            <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-start">
                <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
                    <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
                        Hello {{ app.user.username }}!
                    </h1>
                    <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500 font-bold">Go Swap</span>: Swap, unlock & complete.
                    </p>
                </div>
            </div>

            <div class="container pt-4 md:pt-2 mx-auto flex flex-col lg:flex-row  sm:items-center  lg:items-start gap-5 ">
                {% for dex in pokedexs %}
                    {% include 'app/pokedex-card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
