{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="mx-auto">
        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>
    </div>
{% endblock %}
