<select class="flex bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-9 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 " id="switch-pokedex">
    <option>View friend's Pokédex</option>
    {% for user in users %}
        {% if user.username != app.user.username %}
            <option {% if userId is not null and userId == user.id %}selected{% endif%} value="{{ user.id }}">{{ user.username }}</option>
        {% endif %}
    {% endfor %}
</select>