includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            message: "#Offset \\d+ does not exist on array\\{.*\\}#"
            path: %currentWorkingDirectory%/src/Command/ImportPokemonsCommand.php