includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
	tmpDir: .phpstan.cache
	paths:
		- src
		- tests
services:
	-
		class: App\PHPStan\Rules\TypedClassConstantRule
		tags:
			- phpstan.rules.rule
