<div class="w-full max-w-sm px-6 py-5 bg-white rounded-md shadow-md dark:bg-gray-800">
    <p class="flex justify-center py-4">
        <img src="{{ image }}" class="w-[50px]">
    </p>

    <div>
        <h1 class="mt-2 text-2xl font-semibold text-gray-800 dark:text-white text-center">{{ title }}</h1>
        <p class="mt-2 text-sm text-gray-600 dark:text-gray-300 text-center">{{ description }}</p>
    </div>

    <div class="mt-7">
        <div class="flex items-center mt-2 text-gray-700 dark:text-gray-200">
            <button type="submit"
                    class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                Go
            </button>
        </div>
    </div>
</div>