<div id="loading" class="fixed z-10 inset-0 hidden opacity-0 transition-opacity duration-300 overflow-y-auto bg-gray-900 bg-opacity-80">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-gray-800 border-gray-600 p-6 rounded-lg shadow-lg w-192 transform transition-transform duration-300 scale-95 border  text-center max-w-[400px] w-3/4">
            <h2 class="text-lg font-semibold mb-4"></h2>
            <p class="mb-4 text-gray-50 text-4xl">
                🤔<br>
                <span class="text-lg">Analyzing your screenshot...</span>
            </p>
        </div>
    </div>
</div>