<div id="isValid" class="fixed z-10 inset-0 hidden opacity-0 transition-opacity duration-300 overflow-y-auto bg-gray-900 bg-opacity-80">
    <div class="flex items-center justify-center min-h-screen">
        <div class="dark:bg-gray-800 dark:border-gray-600 p-6 rounded-lg shadow-lg w-192 transform transition-transform duration-300 scale-95 border border-gray-200 text-center max-w-[500px] w-3/4">
            <h2 class="text-lg font-semibold mb-4"></h2>
            {% if isValid == true %}
                <p class="mb-4 text-gray-50 text-4xl">
                    🎉<br>
                    <span class="text-lg">All's good!</span>
                </p>
            {% else %}
                <p class="mb-4 text-gray-50 text-4xl">
                    😵<br>
                    <span class="text-sm">An error occurred</span><br>
                </p>
                <p class="mb-4 text-gray-400 text-sm">
                    {% for error in app.flashes('error') %}
                        <span class="lh-[12px]">{{ error|raw }}</span><br>
                    {% endfor %}
                </p>
            {% endif %}
            <button class="closeModal bg-gradient-to-r {{ random_button() }} text-white text-center font-bold px-4 py-2 rounded">Fermer</button>
        </div>
    </div>
</div>