{% extends 'base.html.twig' %}

{% block body %}
<div class="h-full p-6 max-sm:pt-2 max-lg:h-fit">
    {% include 'partials/header.html.twig' %}

    <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center">
        PvP
    </h1>

    <div class="h-[100px] text-center max-sm:hidden">
        <img src="{{ asset('images/pvp/lc.png') }}" class="inline w-[50px]">
        <img src="{{ asset('images/pvp/gl.png') }}" class="inline w-[50px]">
        <img src="{{ asset('images/pvp/ul.png') }}" class="inline w-[50px]">
    </div>

    <div class="h-4/5 flex flex-col justify-center max-lg:h-full pt-6 lg:pt-8">
        <div class="container pt-4 md:pt-2 mx-auto grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-2 gap-5">
            {% include 'pvp/partials/block.html.twig' with {
                title: 'Pokémon',
                image: asset('images/ico-pokeballs.png'),
                description: 'Manage your PvP Pokémons',
                link: path('app_pvp_list')
            } %}
            {% include 'pvp/partials/block.html.twig' with {
                title: 'Types effectiveness',
                image: asset('images/ico-grass.png'),
                description: 'Check effectiveness table',
                link: path('app_pvp_types')
            } %}
            {% include 'pvp/partials/block.html.twig' with {
                title: 'Quiz',
                image: asset('images/ico-qm.png'),
                description: 'Train types and moves knowledge',
                link: path('app_pvp_quizzes')
            } %}
        </div>
    </div>

</div>
{% endblock %}