{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-full p-6 max-sm:pt-2 max-lg:h-fit" id="pvp-types">
        {% include 'partials/header.html.twig' %}

        {% include 'pvp/partials/navbar.html.twig' with {
            'links': [
                {'name': 'PvP', 'url': path('app_pvp_index')},
                {'name': 'Types', 'url': '#'},
            ]
        } %}

        <div class="flex justify-center flex-row max-sm:flex-col max-sm:gap-2 mt-10 gap-10 items-center">
            <table class="table-auto border-collapse text-sm text-center w-3/4 mb-8" id="table-pvp">
                <thead>
                    <tr class="text-gray-100">
                    <th class="px-4 py-1 border border-gray-500 w-1/4">Type</th>
                    <th class="px-4 py-1 border border-gray-500 w-1/4"><i class="fa-solid fa-up-long text-green-500"></i> Strong against</th>
                    <th class="px-4 py-1 border border-gray-500 w-1/4"><i class="fa-solid fa-down-long text-red-500"></i> Weak against</th>
                    <th class="px-4 py-1 border border-gray-500 w-1/4"><i class="fa fa-shield text-blue-500"></i> Defend as</th>
                </tr>
                </thead>
                <tbody>
                    {% for type in allTypesWithData %}
                        <tr class="hover:bg-gray-500">
                            <td class="px-4 py-1 border border-gray-500 w1/4">
                                <img src="{{ asset('images/type/' ~ type.type.icon) }}" class="inline w-[30px]">
                            </td>
                            <td class="px-4 py-1 border border-gray-500 w1/4">
                                {% for effectiveness in type.strongAgainst %}
                                    <img src="{{ asset('images/type/' ~ effectiveness.targetType.icon) }}" class="inline w-[30px]">
                                {% endfor %}
                            </td>
                            <td class="px-4 py-1 border border-gray-500 w1/4">
                                {% for weakAgainst in type.vulnerableTo %}
                                    <img src="{{ asset('images/type/' ~ weakAgainst.sourceType.icon) }}" class="inline w-[30px]">
                                {% endfor %}
                            </td>
                            <td class="px-4 py-1 border border-gray-500 w1/4">
                                {% for bestDefenderType in type.notEffectiveAgainst %}
                                    <img src="{{ asset('images/type/' ~ bestDefenderType.targetType.icon) }}" class="inline w-[30px]">
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}