@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input input:focus {
    outline: none !important;
}

.custom-number-input button:focus {
    outline: none !important;
}

input[type='number'].with-spin::-webkit-inner-spin-button,
input[type='number'].with-spin::-webkit-outer-spin-button {
    -webkit-appearance: auto !important; /* Active l'apparence native */
    display: block !important; /* Rétablit l'affichage des flèches */
    background: red !important; /* Ajoute un style visuel pour vérifier */
}

.toggle-bg-border {
    border: 1px solid gray !important;
}