<!DOCTYPE html>
<html class="bg-white dark:bg-gray-800">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}Go Swap{% endblock %}</title>
        <link rel="icon" href="/images/icon256.png" type="image/png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-white dark:bg-gray-800">
        {% block body %}{% endblock %}
    </body>
</html>
