name: Continuous delivery

on:
  push:
    branches:
      - v2

jobs:
  ci:
    name: Continuous integration
    runs-on: ubuntu-latest

    steps:
      - name: "Init repository"
        uses: actions/checkout@v4

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer

      - name: "Install dependencies"
        run: composer install

      - name: "Audit dependencies"
        run: composer audit

      - name: "Run PHPStan"
        run: composer phpstan

      - name: "Run PHP CS Fixer"
        run: composer cs-check
