name: Continuous delivery

on:
  push:
    branches:
      - v3

jobs:
  ci:
    name: Continuous integration
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: go-swap-v3_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    env:
      DATABASE_URL: mysql://root:root@127.0.0.1:3306/go-swap-v3_test?serverVersion=8.0.32&charset=utf8mb4

    steps:
      - name: "Init repository"
        uses: actions/checkout@v4

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer

      - name: "Install dependencies"
        run: composer install

      - name: "Build Tailwind CSS"
        run: php bin/console tailwind:build

      - name: "Audit dependencies"
        run: composer audit

      - name: "Run PHPStan"
        run: composer phpstan

      - name: "Run PHP CS Fixer"
        run: composer cs-check

      - name: "Setup test database"
        run: |
          php bin/console doctrine:migrations:migrate --env=test --no-interaction
          php bin/console doctrine:fixtures:load --env=test --no-interaction

      - name: "Run PHPUnit tests"
        run: composer test
#  cd:
#    name: Continuous deployment
#    if: github.ref == 'refs/heads/v2' && github.event_name == 'push'
#    needs: ci
#    runs-on: ubuntu-latest
#
#    steps:
#    - name: "Init repository"
#      uses: actions/checkout@v4
#
#    - name: "Deploy to production"
#      uses: appleboy/ssh-action@master
#      with:
#        username: ${{ secrets.SSH_USERNAME }}
#        host: ${{ secrets.SSH_HOST }}
#        key: ${{ secrets.SSH_KEY }}
#        port: ${{ secrets.SSH_PORT }}
#        script: ${{ secrets.SSH_SCRIPT_V2 }}
#
#    - name: "Purge Cloudflare cache"
#      uses: jakejarvis/cloudflare-purge-action@master
#      env:
#        CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
#        CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
